.whole
{
    /* margin:8% 33.46%;  */
    /* border:3px solid rgb(21, 5, 5);   */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 400px;
    height: 350px;
}
/* .head
{
    margin: 8% 30%;
} */
.image
{
    width: 100%;
}
.caption
{
    padding: 10px;
}